<table>
  <tr>
    <th>Category</th>
    <th>Budget</th>
  </tr>

  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.budget %></td>
    </tr>
  <% end %>
</table>
<a href="categories/new">Add Category</a>
